
/* C:\Users\kanka\All-Frontend\todo-list-app\src\styles\checkbox.css */


.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input[type='checkbox'] {
  appearance: none; 
  -webkit-appearance: none; /* For older versions of webkit browsers */
  -moz-appearance: none; /* For Firefox */
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  border: 2px solid #ccc; 
  outline: none; 
  margin-right: 8px;
  cursor: pointer; 
}

.checkbox input[type='checkbox']:checked {
  background-color: #28a745; 
  border-color: #28a745; 
}
